# 날짜 범위 내의 제주도 강수량 크롤링
- https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=189&yy=2019&mm=9&obs=1

In [43]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re

In [69]:
data = pd.DataFrame(columns = ['date','rain_jeju(mm)','rain_seogwipo(mm)'])
data.head()

Empty DataFrame
Columns: [date, rain_jeju(mm), rain_seogwipo(mm)]
Index: []

In [56]:
def crawling(url):
    page = requests.get(url)

    soup = BeautifulSoup(page.text, "html.parser")
    # contents = soup.find_all('table','table-col table-cal')
    contents = soup.find_all('span')

    return contents

In [59]:
def preprocessing(contents,result):
    for i in contents:
        if '일강수량:' in i.text:
            value = i.text.split(':')[1]
            if value == ' - ' or value == '0.0mm':
                value = 0
                result.append(value)
                continue
            result.append(float(value[:-2]))
    return result

In [62]:
url_jeju = "https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=184&yy=2019&mm=9&obs=1"
url_seogwipo = "https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=189&yy=2019&mm=9&obs=1"

In [66]:
jeju, seogwipo = [],[]

contents = crawling(url_jeju)
rain_jeju = preprocessing(contents,jeju)

contents = crawling(url_seogwipo)
rain_seogwipo = preprocessing(contents,seogwipo)

In [75]:
ts_ms = pd.date_range(start = '2019-09-01',     # 날짜 범위 시작
                     end = None,                # 날짜 범위 끝
                     periods = 30,               # 생성할 Timestamp 개수
                     freq = 'D',               # 시간 간격(MS : 월의 시작일)
                     tz = 'Asia/Seoul')         # 시간대(timezone)

DatetimeIndex(['2019-09-01 00:00:00+09:00', '2019-09-02 00:00:00+09:00',
               '2019-09-03 00:00:00+09:00', '2019-09-04 00:00:00+09:00',
               '2019-09-05 00:00:00+09:00', '2019-09-06 00:00:00+09:00',
               '2019-09-07 00:00:00+09:00', '2019-09-08 00:00:00+09:00',
               '2019-09-09 00:00:00+09:00', '2019-09-10 00:00:00+09:00',
               '2019-09-11 00:00:00+09:00', '2019-09-12 00:00:00+09:00',
               '2019-09-13 00:00:00+09:00', '2019-09-14 00:00:00+09:00',
               '2019-09-15 00:00:00+09:00', '2019-09-16 00:00:00+09:00',
               '2019-09-17 00:00:00+09:00', '2019-09-18 00:00:00+09:00',
               '2019-09-19 00:00:00+09:00', '2019-09-20 00:00:00+09:00',
               '2019-09-21 00:00:00+09:00', '2019-09-22 00:00:00+09:00',
               '2019-09-23 00:00:00+09:00', '2019-09-24 00:00:00+09:00',
               '2019-09-25 00:00:00+09:00', '2019-09-26 00:00:00+09:00',
               '2019-09-27 00:00:00+09:00', '2019-09-28 00:00:00+09:00',
               '2019-09-29 00:00:00+09:00', '2019-09-30 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='D')

In [77]:
data['rain_jeju(mm)'] = rain_jeju
data['rain_seogwipo(mm)'] = rain_seogwipo
data['date'] = ts_ms

In [78]:
data.head()

                       date  rain_jeju(mm)  rain_seogwipo(mm)
0 2019-09-01 00:00:00+09:00           26.1               18.7
1 2019-09-02 00:00:00+09:00           25.7               14.6
2 2019-09-03 00:00:00+09:00           13.9                9.5
3 2019-09-04 00:00:00+09:00           43.0               28.9
4 2019-09-05 00:00:00+09:00            7.0               15.7

In [ ]:
data.to_csv("rain_jeju.csv",index = False)